@charset "utf-8";
@import url(./root.css);

/*--------------------------------*/
/*General Rules*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    font-size: 62.5%;
}

/* Font utility classes */
.roboto {
    font-family: 'Roboto', sans-serif;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

.kanit {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

/* Optional: Target specific tags with fonts */
h1, h2{
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

p, a, li, span {
    font-family: 'Roboto', sans-serif;
}

/* For more creative style */
.hero-content h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.container {
    width: min(100% - 30px, 1400px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.bg {
    background:#F9FAFB ;
}


.section-one {
    padding: 50px 0;
    background-color: #31374c;
}

.section-two {
    padding: 50px 0;
    background-color: #292e40;
}

.grid-center {
    display: grid;
    place-items: center;
}

.flex-even {
    justify-content: space-evenly;
}

/********************/
/****** Header ******/
/********************/

header {
    background-color: 	#002D62;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    cursor: default;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.logo-text {
    color: var(--app-font-color);
}

.menu-icon {
    display: none;
    line-height: 50px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin:  5px auto;
    transition: all 0.3s ease-in-out;
    background-color: 	#FFF;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    line-height: 50px;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: 	#FFF;
}

a:hover {
    color: #FFA347;
}

@media (max-width: 1000px) {
    .menu-icon {
        display: block;
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #1a1d28;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }  

    .nav-list.active {
        left: 0;
    }

    .logo-text {
        font-size: 15px;
        font-weight: 700;
        line-height: 50px;
        cursor: default;
    }
}

@media screen and (max-width: 480px) {
    .logo-text {
        font-size: 10px;
        font-weight: 500;
        line-height: 50px;
        cursor: default;
    }
}

.main {
    height: calc(100svh - 50px - 50px);
}

/*--------------------------------*/
/* Mini Banner                    */
/*--------------------------------*/

.hero-banner {
    position: relative;
    height: calc(50svh - 65px);
    background: rgb(255, 255, 255) url("../img/sunset.jpg") center center / cover no-repeat;
    line-height: calc(50svh - 65px);
    z-index: 1;
    overflow: hidden;
  
    h2 {
      font-weight: 800;
      font-size: 70px;
      letter-spacing: 3px;
      line-height: calc(50svh - 65px);
      color: var(--app-font-color);
      width: 100%;
    }
}
  
.hero-banner::before {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgb(0 0 0 / 50%);
    z-index: -1;
}

/*--------------------------------*/
/* body*/
/*--------------------------------*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    height: 50px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/*--------------------------------*/
/* Articles                       */
/*--------------------------------*/

.write-ups {
    font-size: 17px;
    padding: 25px;
    color: var(--app-font-color);
}

.first {
    line-height: 1.5;
    text-align: left;
    font-size: 20px;
}

.sub-heading {
    font-size: 20px;
    font-weight: 700;
}

/*--------------------------------*/
/* Stats                          */
/*--------------------------------*/

.center {
    justify-content: center;
}

.stat-title {
    font-size: 25px;
    color: var(--app-font-color);
    margin-bottom: 10px;
    text-align: center;
}
  
.statistics {
    gap: 20px;
    flex-wrap: wrap; 
}
  
.stat-item {
    flex: 0 0 auto;
    width: calc(25% - 20px);
    height: 200px;
    text-align: center;
    align-content: center;
    color: var(--app-font-color);
    background: rgb(255 255 255 / 0.1); 
    backdrop-filter: blur(10px);
    border-radius: var(--app-box-radius);

    i {
        font-size: 20px
    }

    p {
        font-size: 20px;
    }
}
  
.stat-number {
    font-size: 30px;
    color: var(--app-color-primary);
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .stat-item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .stat-item {
        width: 100%;
    }
}


/***************************************/
/*sign up */
/***************************************/
.contact-us {
    color: var(--app-font-color);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 60px 15px;
}

.contact-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--app-button-color);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.contact-btn:hover {
    background-color: #e59200;
    color: #FFF;
}


@media screen and (max-width: 768px) {
    .contact-us {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .contact-us {
        font-size: 15px;
    }
}

.smooth {
    animation: fadeInUp 1s ease-in-out;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .contact-grid {
        flex-direction: column;
    }
}


/******************************************/
/*footer*/
/******************************************/

footer {
    background-color: 	#002D62;
    color: var(--app-font-color);
}

.footer {
    justify-content: space-between;
}

.copyright {
    height: 50px;
    cursor: default;
}

p {
    line-height: 50px; 
}

.social-list li {
    line-height: 50px;
    font-size: 20px;
}

.social-list li a {
    margin-right: 15px;
    color: var(--app-font-color);
}

.social-list li a:hover {
    color: var(--app-hover-cover);
}